# --------- hydra --------- #

hydra-colorlog
hydra-optuna-sweeper
# hydra-ray-launcher==0.1.2
# hydra-submitit-launcher==1.1.0
torchgeometry
# pip install --no-binary opencv-python opencv-python
#opencv-python
imgaug
torch_optimizer

